@import 'keyframes.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('https://cdn.pixabay.com/photo/2022/11/24/02/28/clouds-7613361_1280.png') no-repeat center center ;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    animation: popUp 1s ease-in-out;

}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;

    h1 {
        margin-bottom: 1rem;
        font-size: 3rem;
    }
    
    form {
      margin-bottom: 1rem;
      border: 0.01rem solid black;
      padding: 2rem;
      background-color: rgba(0, 136, 255, 0.148);
      border-radius: 1rem;


      input {
        display: block;
        text-align: center;
        font-size: 1.2rem;
        transition: 0.4s ease-in-out;
      }
      
      button {
          color: white;
          font-size: 1rem;
          padding: 0.2rem;
          transition: 0.3s;
          cursor: pointer;
          border-radius: 1rem;
          margin: 0.5rem 0 0 5rem;
          background-color: black;
          

        &:hover {
            background-color: rgb(8, 158, 8);
            color: black;
            color: white;
        }
      }
      
    }

    hr {
        color: black;
        width: 40vw;
        margin-bottom: 5rem;
    }
    .weatherContainer {
        width: 30rem;
        height: 15rem;
        border-radius: 2rem;
        border: 0.01rem solid black;
        background-color: rgba(0, 136, 255, 0.101);
        
    
    .weather {
        margin-top: 3rem;
        color: black;
        font-size: 1.5rem;
        text-align: center; 
        animation: popUp 1s ease-in-out;
        p {
            font-size: 1.8rem;
        }
    }
    }
    
  }

  